main {
  max-width: 57rem;
  /* A4 paper width, toggle this to have a sense it looks good when printed */
  /* max-width: 21cm; */
  margin-inline: auto;
  padding-inline: 2rem;
}

.info {
  padding-block: 1rem;
  margin-block: 1rem 2.5rem;
}

.info h1 {
  font-weight: 700;
}

.contact {
  color: var(--c-primary-400);
}

.contact-classic {
  text-align: end;
}

.contact-classic > span {
  white-space: nowrap;
}

.info__name_and_social {
  display: flex;
  justify-content: space-between;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--c-primary-400);
  font-family: 'PT Sans';
}

h3 {
  font-weight: 700;
  font-size: 1.5rem;
}

.timeline__card__title {
  margin-block-start: 0.1rem;
}

.timeline__card__subtitle {
  color: var(--c-text-300);
  display: flex;
  gap: 3rem;
  margin-block-end: 1rem;
}

.timeline__card h5 {
  font-weight: 700;
}

.period {
  color: var(--c-text-300);
}

.project {
  padding-block-end: var(--project-space-end);
}

.projects-list {
  padding-block-start: 0rem;
  margin-inline-start: 1rem;
  margin-block-end: var(--project-list-space-end);
}

.timeline__card h4,
.label {
  margin-block-start: 0.2em;
  color: var(--c-text-300);
  font-size: 0.85rem;
}

.timeline {
  display: grid;
  grid-template-columns: minmax(auto, 20ch) minmax(30ch, 1fr);
  grid-template-columns: 1fr 2fr;
  column-gap: 2rem;
}

.timeline__category {
  margin-block-end: 2rem;
}

.timeline__category:last-child {
  margin-block-end: 5rem;
}

.company-desc {
  margin-block-end: 1rem;
}

.responsibilities-list li::before {
  content: 'â—';
  display: inline-block;
  position: relative;
  bottom: 0.19em;
  font-size: 0.6em;
  width: 0.6em;
  margin-inline-end: 0.65em;
  color: var(--c-primary-400);
}

.stack-list {
  display: inline-flex;
  gap: 0.2rem;
  flex-wrap: wrap;
}

.stack-list > li {
  border: 1px solid var(--c-neutral-050);
  line-height: 1;
  border-radius: 3px;
  padding: 0.15em 0.3em;
  font-size: 0.89rem;
  letter-spacing: 0.014em;
}

.project .stack-list {
  margin-inline-start: 0.5em;
}

/* .timeline__card--with-general-stack-list .stack-list { */
.timeline__card:not(:last-child) > .stack-list {
  margin-block-end: calc(var(--project-space-end) + var(--project-list-space-end));
}

.timeline__card--with-general-stack-list .projects-list {
  /* background-color: hotpink; */
  margin-block-end: 0;
}
