main {
  /* A4 paper width */
  max-width: 21cm;
  margin-inline: auto;
}

.info {
}

.info h1 {
  font-weight: 700;
}

.contact {
  color: var(--c-primary-400);
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--c-primary-400);
  font-family: 'PT Sans';
}

h3 {
  font-weight: 700;
  font-size: 1.5rem;
}

.timeline__card h4 {
  /* font-size: 0.9rem; */
  /* margin-block: 0.5rem; */
}

.timeline__card__title {
  margin-block-start: 2rem;
}

.timeline__card__subtitle {
  /* background-color: aquamarine; */
  color: var(--c-text-300);
  display: flex;
  gap: 3rem;
  margin-block-end: 1rem;
}

h4 {
  /* font-weight: 700; */
}

.timeline__card h5 {
  font-weight: 700;
}

.timeline {
}

.period {
  color: var(--c-text-300);
}

.project {
  padding-block-end: 1rem;
}

.project > h5 {
  /* padding-block: 1rem; */
  /* margin-block: 0.5rem; */
}

.projects-list {
  padding-block-start: 0rem;
  margin-inline-start: 1rem;
  margin-block-end: 1rem;
}

.timeline__card h4,
.label {
  margin-block-start: 0.2em;
  color: var(--c-text-300);
  font-size: 0.85rem;
  /* line-height: 1; */
}

.timeline__card:last-child {
  margin-block-end: 5rem;
}

.responsibilities-list {
}

.responsibilities-list li::before {
  content: 'â—';
  display: inline-block;
  /* color: transparent; */
  /* clip-path: circle(10% at 50% 55%); */
  /* border-radius: 100vh; */
  /* width: 2em; */
  position: relative;
  bottom: 0.175em;
  font-size: 0.6em;
  width: 0.6em;
  margin-inline-end: 0.65em;
  color: var(--c-primary-400);
}

.project .stack-list {
  margin-inline-start: 0.5em;
}
.stack-list {
  display: inline-flex;
  gap: 0.2rem;
  flex-wrap: wrap;
  /* padding-inline-start: 0.86em; */
}

.stack-list > li {
  border: 1px solid var(--c-neutral-050);
  line-height: 1;
  border-radius: 3px;
  padding: 0.01em 0.2em;
  /* font-size: 0.98rem; */
}
